language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-padded main.cpp Highway.cpp HighwayPatrol.cpp Car.cpp Motorcycle.cpp SemiTruck.cpp && ./a.out"

# using -Wno-padded to clear padding warnings